<h1>Software Engineering, Web Design, 3D Production</h1>
  <h3>Web Development</h3>
  <ul>
    <li>Javascript</li>
    <li>AngularJS</li>
    <li>Express</li>
    <li>NodeJS</li>
    <li>MongoDB</li>
    <li>Backbone</li>
    <li>JQuery</li>
  </ul>
  <h3>Web Design</h3>
  <ul>
    <li>CSS/SASS</li>
    <li>HTML5</li>
    <li>D3</li>
    <li>Adobe Photoshop</li>
    <li>Adobe AfterEffects</li>
    <li>Adobe Illustrator</li>
    <li>Autodesk Maya</li>
  </ul>
  <h3>Skills</h3>
  <ul>
    <li>Fullstack development</li>
    <li>Creative design</li>
    <li>Rapid prototyping</li>
    <li>Motion Graphics and Animation</li>
    <li>Effective Storyboarding</li>
  </ul>
